.Login {
    background: #080707;
    width: 318px;
    margin: auto;
    margin-top: 20px;
    border-radius: 2px;    
}

.Login input {
    display: block;
    min-width: 87%;
    padding: 11px;
    box-sizing: content-box;
    margin: 11px 6px;
    border: 1px solid #13ad00;
    font-size: 15px;
}

* {
}

.Login form {
    padding: 10px;
}

input[type="submit"] {
    background: #080707;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 27px;
    cursor: pointer;
}