body{
  background-image: url('https://torange.biz/photofxnew/204/HD/geometrical-abstract-background-triangles-polygonal-template-wreath-space-204579.jpg');
  background-position: center center ;
  background-repeat: no-repeat;
  background-size: cover;
}